body {
    background-image: url("../../pics/akan.jpeg");
    color:white;
    background-size: cover;
    background-repeat: repeat;
}
div{
    color:blueviolet;
    background-color: yellowgreen;
}
label{
    color:red;
    background-color: whitesmoke;
}